@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    line-height: 1.5;
    --dark-green: #0b652f87;
    --light-green: #0b652f13;
    --subtext-color: #000000d2;
    --card-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
    width: 30px;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
}

.sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: var(--dark-green);
    color: white;
    padding: 20px 0 0 20px;
}

.sidebar img {
    filter: invert(100%) brightness(1000%);   
}

.branding {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.brand-logo {
    width: 50px;
}

.navigation {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.navigation div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.settings {
    margin-top: 50px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 60px 15px 30px;
    gap: 20px 100px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar input {
    flex: 1;
    background-color: var(--light-green);
    height: 35px;
    border: none;
    border-radius: 100px;
    padding-left: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.notification {
    width: 25px;
}

.user-info .avatar {
    width: 50px;
    margin-right: -15px;
}

.user-info span {
    font-size: 1.15rem;
    font-weight: 700;
}

.greeting {
    display: grid;
    grid-template-columns: max-content max-content;
    place-items: center start;
    column-gap: 15px;
    
}

.greeting .avatar {
    grid-row: 1 / 3;
    width: 70px;
}

.greeting-text {
    font-size: 1.1rem;
    font-weight: 600;
}

.username {
    font-size: 1.2rem;
    font-weight: 700;
    align-self: start;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.action-buttons button {
    flex: 1;
    background-color: var(--dark-green);
    color: white;
    height: 35px;
    border: none;
    border-radius: 100px;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 60px 30px 30px;
    background-color: var(--light-green);
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.15rem;
    font-weight: 600;
}

.main-content > div > div {
    margin-top: 10px;
}

.projects {
    grid-row: 1 / 3;
    padding-right: 30px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    border-left: 6px solid #f3603fe7;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.card-text {
    font-size: 0.9rem;
    color: var(--subtext-color);
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-self: end;
}

.action-icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.favorite {
    background-image: url('icons/star-plus-outline.svg');
}

.view {
    background-image: url('icons/eye-plus-outline.svg');
}

.share {
    background-image: url('icons/share-variant-outline.svg');
}

.announcements h2 {
    font-size: 1rem;
    font-weight: 600;
}

.subcontainer {
    padding: 15px 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
}

.announcement-section {
    border-bottom: 1px solid #0000007b;
    padding: 10px 0;
}

.announcement-section:last-child {
    border-bottom: none;
}

.announcement-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    box-orient: vertical;
    font-size: 0.8rem;
    color: var(--subtext-color);
}

.account {
    display: grid;
    grid-template-columns: max-content max-content;
    place-items: center start;
    column-gap: 15px;
    font-size: 0.9rem;
}

.account .account-avatar {
    grid-row: 1 / 3;
    width: 40px;
}

.account-project {
    color: var(--subtext-color);
}